name: tf-checks
on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:
jobs:
  complete-example:
    uses: clouddrove/github-shared-workflows/.github/workflows/tf-checks.yml@1.4.0
    with:
      working_directory: './_examples/complete/'

  lets_encrypt-certificate-example:
    uses: clouddrove/github-shared-workflows/.github/workflows/tf-checks.yml@1.4.0
    with:
      working_directory: './_examples/lets_encrypt_certificate/'

# Seperate Job for TFlint workflow call
  tf-lint:
    uses: clouddrove/github-shared-workflows/.github/workflows/tf-lint.yml@master
    secrets:
      GITHUB: ${{ secrets.GITHUB }}